<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{common/common :: common-header}">
    <title>patients</title>
</head>

<body>
<div id="wrapper">
    <nav th:replace="~{common/common :: side-bar}"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/common :: top-bar}"></nav>
            <div class="container-fluid">
                <h3 class="text-center text-dark mb-4">patients information</h3>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap justify-content-end text-right">
                                <a th:href="@{'/patients/create'}">
                                    <button class="btn btn-info btn-sm" type="submit">new patient</button>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>DOB</th>
                                    <th>Email</th>
                                    <th>Family Email</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="patient: ${patientList}">
                                    <td th:text="${patient.firstName}"/>
                                    <td th:text="${patient.lastName}"/>
                                    <td th:text="${patient.gender}"/>
                                    <td th:text="${patient.address}"/>
                                    <td th:text="${#dates.format(patient.dayOfBirth, 'dd-MM-yyyy')}"/>
                                    <td th:text="${patient.email}"/>
                                    <td th:text="${patient.familyEmail}"/>

                                    <!--  delete or update patient-->
                                    <td>
                                        <a th:href="${'/patients/update/' + patient.id}" th:title="edit">
                                            <i class="fas fa-edit" alt="edit"></i>
                                        </a>

                                        <a th:href="${'/medicalRecords/' + patient.id}">
                                            <i class="fas fa-file-medical" alt="medical record"></i>
                                        </a>

                                        <a th:href="${'/patients/delete/' + patient.id}" th:title="delete"
                                           onclick="return confirm('Are you sure!! You want to delete this patient')">
                                            <i class="fas fa-trash" alt="delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>DOB</th>
                                    <th>Email</th>
                                    <th>Family Email</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <p>Total Patients [[${totalPatients}]] &nbsp; </p>
                            </div>

                            <div class="col-md-6 ">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item ">
                                            <a class="page-link" aria-label="Previous"
                                               th:href="${'/patients?page=1'}">
                                                <span aria-hidden="true">First</span>
                                            </a>
                                        </li>
                                        <li class="page-item {{currentPage == i ? 'active' : ''}}"
                                            th:each="p : ${#numbers.sequence(1, totalPages)}">
                                            <a class="page-link" th:href="${'/patients?page=' + p}" th:text="${p}"></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Next"
                                               th:href="${'/patients?page=' + totalPages}">
                                                <span aria-hidden="true"> Last </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{common/common :: footer}"></footer>
    </div>
</div>
<div th:replace="~{common/common :: body-bottom-scripts}"></div>
</body>
</html>