<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{common/common :: common-header}">
    <title>Dashboard</title>
</head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{common/common :: side-bar}"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/common :: top-bar}"></nav>
            <h3 class="text-center text-dark mb-0">Dashboard</h3>
            <div class="container-fluid">
                <div class="text-center d-sm-flex justify-content-between align-items-center mb-4"></div>

                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Doctors Speciality</h6>
                            </div>
                            <div class="card-body">

                                <div class="chart-area">
                                    <div id="doctorSpecialityChart" th:attr="data-chartData=${chartData}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer th:replace="~{common/common :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>


<div th:replace="~{common/common :: body-bottom-scripts}"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript" th:inline="javascript">
    // Load the Visualization API and the corechart package
    google.charts.load('current', {'packages': ['corechart']});


    // Set a callback function to run when the Visualization API is loaded
    google.charts.setOnLoadCallback(drawChart);

    // Define the function to draw the chart
    function drawChart() {
        // Get the chart data passed from the controller
        var chartData = [[${chartData}]];

        // Create the data table
        var data = new google.visualization.DataTable(chartData);

        // Add columns
        data.addColumn('string', 'Language');
        data.addColumn('number', 'Number of Questions');

        // Add rows
        data.addRows([[${chartData}]]);


        // Set chart options
        var options = {
            title: 'Number of Doctors by Speciality',
            legend: {position: 'none'}
        };

        // Instantiate and draw the chart
        var chart = new google.visualization.PieChart(document.getElementById('doctorSpecialityChart'));
        chart.draw(data, options);
    }
</script>
</body>

</html>