<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{common/common :: common-header}">
    <title>Table</title>
</head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{common/common :: side-bar}"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/common :: top-bar}"></nav>

            <div class="medical-record-card card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-primary fw-bold">Medical Record Information</h4>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary btn-sm float-end" id="download-btn">
                                <i class="fa fa-download" aria-hidden="true">
                                    Download
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <div class="text-end"> <!-- add text-end class here -->

                        <p>
                            <strong>medical record ID:</strong>
                            <span th:text="${medicalRecord.patient.id}"></span>
                        </p>

                        <p>
                            <strong>patient ID:</strong>
                            <span th:text="${medicalRecord.id}"></span>
                        </p>

                        <p>
                            <strong>created at :</strong>
                            <span th:text="${#dates.format(medicalRecord.patient.createdAt, 'dd-MM-yyyy')}"></span>
                        </p>


                    </div>
                    <hr>

                    <p><strong>first name:</strong>
                        <span th:text="${medicalRecord.patient.firstName}"></span>
                    </p>

                    <p>
                        <strong>last name:</strong>
                        <span th:text="${medicalRecord.patient.lastName}"></span>
                    </p>

                    <p>
                        <strong>birth date:</strong>
                        <span th:text="${#dates.format(medicalRecord.patient.dayOfBirth, 'dd-MM-yyyy')}"></span>
                    </p>


                    <p>
                        <strong>gender:</strong>
                        <span th:text="${medicalRecord.patient.gender}"></span>
                    </p>

                    <p>
                        <strong>email:</strong>
                        <span th:text="${medicalRecord.patient.email}"></span>
                    </p>

                    <p>
                        <strong>family email:</strong>
                        <span th:text="${medicalRecord.patient.familyEmail}"></span>
                    </p>


                    <hr>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <strong>Weight:</strong>
                            <span th:text="${medicalRecord.weight}"></span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <strong>Height:</strong>
                            <span th:text="${medicalRecord.height}"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <strong>Blood Type:</strong>
                            <span th:text="${medicalRecord.bloodType}"></span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <strong>Blood Pressure: </strong>
                            <span th:text="${medicalRecord.bloodPressure}"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <strong>Heart Rate: </strong>
                            <span th:text="${medicalRecord.heartRate}"></span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <strong>Respiration Rate: </strong>
                            <span th:text="${medicalRecord.respiratoryRate}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <strong>Sugar Level: </strong>
                            <span th:text="${medicalRecord.sugarLevel}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <strong>Number of Surgeries </strong>
                            <span th:text="${medicalRecord.surgeries}"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer th:replace="~{common/common :: footer}"></footer>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script>
    const downloadBtn = document.querySelector('#download-btn');
    const cardBody = document.querySelector('.card-body');

    downloadBtn.addEventListener('click', () => {
        window.jsPDF = window.jspdf.jsPDF;
        const pdf = new jsPDF();
        pdf.text(cardBody.innerText, 10, 10);
        pdf.save('medical-record.pdf');
    });
</script>

<div th:replace="~{common/common :: body-bottom-scripts}"></div>
</body>
</html>